.profileBtn {
  // height: 44px !important;
  margin: 0 20px 0 10px !important;
  padding: 0 6px;
  .v-avatar {
    width: 28px;
    height: 28px;
    img {
      width: 28px;
      height: 28px;
    }
  }
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .profileBtn {
    min-width: 42px;
    margin: 0 12px 0 0 !important;
    .v-avatar {
      width: 18px;
      height: 18px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media (max-width: 460px) {
  .notification-dropdown {
    width: 332px !important;
    
   
    .v-list-item__content {
      .d-inline-flex {
        .text-caption {
          min-width: 50px;
        }
      }
    }
  }
}

.v-btn{
  border: 1px solid #d9d9d9;
  border-radius: 4px !important;
}
